<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.impax.nakathisacco">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UtilitiesPackage.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/matlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/matlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoanActivity"
            android:parentActivityName=".MyLoansActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomePackage.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePackage.LogIn" />
        <activity android:name=".HomePackage.signup" />
        <activity android:name=".GuarantorActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CheckUserActivity" />
        <activity android:name=".MyAccount"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MemberDetails"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
         <activity android:name=".AssetDetails"
            android:parentActivityName=".AssetsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".ApproveLoanActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".CertsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".SuccessActivity"
            android:parentActivityName=".MyLoansActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".ContributionDetails"
            android:parentActivityName=".AssetsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".GetGuarantorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".AddGuarantorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".SavingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".LoanBalanceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".AssetsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".AssetRevenueActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".NotificationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".MyLoansActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>